h1 {
    font-size: 24px;
}

.main-contents {
    padding: 20px;
}

.search-sidebar {
    padding: 20px;
    background-color: #f8f9fa;
    height: calc(100vh - 60px);
}

.navbar {
    height: 60px;
}

.city-list {
    padding-top: 10px;
}

.city-name {
    font-size: 32px;
}

.fd-container {
    margin-top: 5px;
}

.fd-card {
    margin: 5px;
    background-color: #19a3ff;
    padding: 10px;
    border-radius: 7px;
    width: 150px;
    color: white;
}

.fd-card h2 {
    font-size: 18px;
}

.fd-img {
    height: 48px;
}

.list-group-item {
    cursor: pointer;
}

.justify-content-center {
    -ms-flex-pack:left!important;
    justify-content:left!important;
}

.remove-btn {
    float: right;
}

.weather-icon {
    height: 50px;
}

#cityCollapseBtn {
    margin-left: 3px;
    display: none;
}

#uv-span {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-radius: 7px;
}

@media screen and (max-width: 767px) {
    .justify-content-center {
        -ms-flex-pack:center!important;
        justify-content:center!important;
    }
    .search-sidebar {
        height: 100%;
    }
    #cityCollapseBtn {
        display: block;
    }
}

@media screen and (min-width: 767px) {
    #cityCollapse {
        display: block;
    }  
}